# Feature flags
DEVISE_EMAIL_CONFIRMATION_FEATURE_FLAG: false

# Database Configuration test environment
test
  POSTGRES_USER: example_postgres_user
  POSTGRES_PASSWORD: example_password
  POSTGRES_DB: example_db_connection
  DB_HOST: localhost
