# Prod specific mailer settings
production
  SES_VERIFIED_DOMAIN
  SES_VERIFIED_PASSWORD

# Database Configuration test environment
test
  POSTGRES_USER: example_postgres_user
  POSTGRES_PASSWORD: example_password
  POSTGRES_DB: example_db_connection
  DB_HOST: localhost

# admin credentials setup
ADMIN_EMAIL: "admin@gmail.com"
