.container-fluid
  .row
    .col-lg-3
      = render 'resumes/sidebar'
    .col-lg-9
      %h2 Select Theme 
      = render 'form'
      = link_to 'Back to Resumes', resumes_path, class: 'btn btn-secondary mt-3'
