%h1 Users and Their Resumes

%table
  %thead
    %tr
      %th Email
      %th Number of Resumes
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.resumes_count  # Use counter cache directly
        %td
          = link_to 'Show', admin_user_path(user), class: 'btn btn-primary btn-sm'
