= form_for [@resume, @cover_letter], url: resume_cover_letter_path(@resume) do |f|
  .form-group
    = f.label :content, 'Executive summary'
    = f.text_area :content, class: 'form-control', placeholder: 'max 300 characters'

    = f.submit 'Save Summary', class: 'btn btn-primary'
