.container-fluid
  .row
    .col-lg-3
      = render 'resumes/sidebar'
    .col-lg-6.offset-lg-1.pt-5
      - if @resume.skills.any?
        = render 'resumes/sections/skills'

      %p Add comma-separated skills to add multiple at a time.
      = render 'form'
