%section.hero.bg-dark.text-white.py-5
    .container
        %div{style:"display: flex;justify-content: center;align-items: center;"}   
            %h3 We built this site to address the job struggles of today
        %div{style:"height: 2rem; width: 100%"}
        .row.justify-content-md-center
            .col-md-6
                %div{style:"width:60%; margin:0 auto;align-items: center; margin-top: 1.75rem"}
                    .card.card-black-grey
                        %img{style: "width: 65%;height: 75%;margin: 0 auto", alt:"logo", src: asset_path('logo.png')}
            .col-md-6
                .card
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Pretium viverra suspendisse potenti nullam ac tortor vitae. Vel risus commodo viverra maecenas accumsan lacus vel. Varius vel pharetra vel turpis nunc eget lorem. A iaculis at erat pellentesque. Tellus elementum sagittis vitae et. Pellentesque nec nam aliquam sem et tortor. Bibendum arcu vitae elementum curabitur vitae nunc. Arcu dictum varius duis at. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Nunc mi ipsum faucibus vitae.

        %div{style:"height: 4.2rem; width: 100%"}
        %div  
            %div{style:"display: flex;justify-content: center;align-items: center;"}   
                %h3 Founder
        %div{style:"height: 1rem; width: 100%"}
        .row.justify-content-md-center
            .col-md-3
                .card.card-orange-blue
                    %div{style:"border-radius: 50%;align-items: flex-start;width: 6rem;height: 6rem;background-color: white;margin: 0 auto;margin-top: 5%"}
                    %div{style:"height: 9rem; width: 100%"}                     
                    %div{style:"align-items: flex-end;margin: 0 auto"}
                        %img{alt:"LinkedIN image", src: asset_path('LinkedIn.png')}
                        %img{alt:"Github image", src: asset_path('Github.png')}
        %div{style:"height: 1.5rem; width: 100%"}
        %div  
            %div{style:"display: flex;justify-content: center;align-items: center;"}   
                %h3 Contributors
        %div{style:"height: 2rem; width: 100%"}
        .row.justify-content-md-center
            .col-md-3
                .card.card-orange-blue
                    %div{style:"border-radius: 50%;align-items: flex-start;width: 6rem;height: 6rem;background-color: white;margin: 0 auto;margin-top: 5%"}
                    %div{style:"height: 9rem; width: 100%"} 
                    %div{style:"align-items: flex-end;margin: 0 auto"}
                        %img{alt:"LinkedIN image", src: asset_path('LinkedIn.png')}
                        %img{alt:"Github image", src: asset_path('Github.png')}
            .col-md-3
                .card.card-orange-blue
                    %div{style:"border-radius: 50%;align-items: flex-start;width: 6rem;height: 6rem;background-color: white;margin: 0 auto;margin-top: 5%"}
                    %div{style:"height: 9rem; width: 100%"}
                    %div{style:"align-items: flex-end;margin: 0 auto"}
                        %img{alt:"LinkedIN image", src: asset_path('LinkedIn.png')}
                        %img{alt:"Github image", src: asset_path('Github.png')}
            .col-md-3
                .card.card-orange-blue
                    %div{style:"border-radius: 50%;align-items: flex-start;width: 6rem;height: 6rem;background-color: white;margin: 0 auto;margin-top: 5%"}
                    %div{style:"height: 9rem; width: 100%"}
                    %div{style:"align-items: flex-end;margin: 0 auto"}
                        %img{alt:"LinkedIN image", src: asset_path('LinkedIn.png')}
                        %img{alt:"Github image", src: asset_path('Github.png')}
            .col-md-3
                .card.card-orange-blue
                    %div{style:"border-radius: 50%;align-items: flex-start;width: 6rem;height: 6rem;background-color: white;margin: 0 auto;margin-top: 5%"}
                    %div{style:"height: 9rem; width: 100%"}
                    %div{style:"align-items: flex-end;margin: 0 auto"}
                        %img{alt:"LinkedIN image", src: asset_path('LinkedIn.png')}
                        %img{alt:"Github image", src: asset_path('Github.png')}