%section.hero.bg-dark.text-white.py-5
  .container
    .d-flex.flex-column.justify-content-center.align-items-center
      %h3 We built this site to address the job struggles of today
    .row.justify-content-center.align-items-center.g-0.d-flex.mt-4
      .col-12.d-flex.justify-content-center
        %img{src: "https://logo-career-crafter-pro.s3.amazonaws.com/logo.png", alt: "Career Crafter Pro Logo", style: "height: 150px;"}
    .row.justify-content-center.mt-4
      .col-12.p-4
        %p Career Crafter Pro is driven by a small, lean team with a big mission: to revolutionize how candidates interact with HR and employers. Our passion for innovation and design fuels our efforts to craft bespoke resume templates from scratch, ensuring each one stands out in a crowded job market. We specialize in guiding candidates to create compelling resumes that capture their unique strengths and qualifications. Our platform not only helps candidates write better resumes but also enhances the matchmaking process between job seekers and employers, fostering connections that lead to fulfilling careers. At Career Crafter Pro, we believe in the power of a well-crafted resume to open doors and create opportunities. Join us in transforming your job search experience and achieving your career goals.

    .mt-5
      .mb-3.d-flex.justify-content-center.align-items-center
        %h3 Founder
    .row.justify-content-md-center.mt-0
      .col-md-3
        .card.card-orange-blue
          %h5.text-center Ashwin Khanna
          %h6.text-center Lead Engineer
          .mb-5.d-flex.justify-content-center.align-content-start
            .rounded-circle.bg-white{style:"width: 6rem;height: 6rem;"}
              %img{src: "https://logo-career-crafter-pro.s3.amazonaws.com/logo.png", alt: "Career Crafter Pro Logo", style: "height: 95px;"}
          .d-flex.flex-column.justify-content-end.align-self-center
            %h5
              %a{ href: "https://github.com/ashToronto", target: "_blank", style: "text-decoration: none; color: white" }
                %i.bi.bi-github
                GitHub
            %h5
              %a{ href: "https://www.linkedin.com/in/ashwin-khanna/", target: "_blank", style: "text-decoration: none; color: white" }
                %i.bi.bi-linkedin
                LinkedIn
    .mt-4
      .d-flex.justify-content-center.align-items-center
        %h3 Contributors
    .row.justify-content-md-center.mt-4
      .col-md-3.pt-4
        .card.card-orange-blue
          %h5.text-center Yushus Komarlu
          %h6.text-center Software Engineer
          .mb-5.d-flex.justify-content-center.align-content-start
            .rounded-circle.bg-white{style:"width: 6rem;height: 6rem;"}
              %img{src: "https://logo-career-crafter-pro.s3.amazonaws.com/logo.png", alt: "Career Crafter Pro Logo", style: "height: 95px;"}
          .d-flex.flex-column.justify-content-end.align-self-center
            %h5
              %a{ href: "https://github.com/ykomarlu", target: "_blank", style: "text-decoration: none; color: white" }
                %i.bi.bi-github
                GitHub
            %h5
              %a{ href: "https://www.linkedin.com/in/yushuskomarlu/", target: "_blank", style: "text-decoration: none; color: white" }
                %i.bi.bi-linkedin
                LinkedIn
      .col-md-3.pt-4
        .card.card-orange-blue
          %h5.text-center Daniel Laij
          %h6.text-center Software Engineer
          .mb-5.d-flex.justify-content-center.align-congent-start
            .rounded-circle.bg-white{style:"width: 6rem;height: 6rem;"}
              %img{src: "https://logo-career-crafter-pro.s3.amazonaws.com/logo.png", alt: "Career Crafter Pro Logo", style: "height: 95px;"}
          .d-flex.flex-column.justify-content-end.align-self-center
            %h5
              %a{ href: "https://github.com/SpicyNachos03", target: "_blank", style: "text-decoration: none; color: white" }
                %i.bi.bi-github
                GitHub
            %h5
              %a{ href: "https://www.linkedin.com/in/daniellaij", target: "_blank", style: "text-decoration: none; color: white" }
                %i.bi.bi-linkedin
                LinkedIn
