.container-fluid
  .row
    .col-lg-3
      = render 'resumes/sidebar'
    .col-lg-6.offset-lg-1
      = render 'resumes/sections/experiences', resume: @resume
      = render 'form', experience: @experience
