.container-fluid
  .row
    .col-lg-3
      = render 'resumes/sidebar'
    .col-lg-6.offset-lg-1
      %h2.resume-section-heading Work History
      = render 'form', experience: @experience

      = link_to 'Back to Resumes', resumes_path, class: 'btn btn-secondary mt-3'
