/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require form_partials
 *= require charts

 *= require_tree .
 *= require_self
 */

/* Base colors for background and text */
body, .navbar, .sidebar, .nav-link, .btn, .form-control {
  background-color: #16171b !important; /* Dark grey background */
  color: #efefef !important; /* White text for readability */
}

/* Updated primary interaction colors */
a, .btn, .nav-link.active, .navbar-brand, .btn:focus {
  color: #b65959 !important; /* Subdued orange for active elements and links */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Subtle hover effects for enhanced user experience */
.btn:hover, a:hover, .nav-link:hover {
  background-color: #944848 !important; /* Dark slate for hover */
  color: #dcdde1 !important; /* Soft light gray for text on hover */
}

/* Navbar specific styling */
.navbar {
  background-color: #16171b !important; /* Dark background for navbar */
  border-bottom: 1px solid #b65959 !important; /* Subdued purple border */
}

.navbar-logo {
  height: 45px;
  width: 50px;
  transition: height 0.3s ease;
  margin-left:5px;
}

@media (max-width: 768px) {
  .navbar-logo {
    height: 50px;
  }
}

/* Items that are to be placed below navbar and also sticky to top */
.sticky-top-button-container {
  position: sticky;
  top: 70px; /* Adjust this value based on the actual height of your navbar */
  z-index: 1000;
  background-color: #16171b;
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid #9b59b6;
}

.theme-selection-preview {
  min-height: 600px;
}

/* Card styling for a unified dark theme */
.card {
  background: linear-gradient(to right, #232526, #633438);
  border: none;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 18px; /* Rounded corners for a smoother look */
  padding: 10px;
}

.card:hover {
  opacity: 0.75; /* Reduce opacity to give a selection effect */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Increase shadow for a lifted effect */
}

.card-header {
  background-color: #202020 !important; /* Darker shade for header */
}

/* Dropdown menu styling within navbar */
.dark-dropdown {
  background-color: #343a40 !important; /* Dark grey, matching the navbar */
  color: #fff !important;
}

.dark-dropdown .dropdown-item {
  color: #b65959 !important; /* Subdued purple for dropdown items */
}

.dark-dropdown .dropdown-item:hover {
  background-color: #2c3e50 !important; /* Dark slate for hover */
  color: #dcdde1 !important;
}

/* Custom Styling for Skill Badges */
.skills-sets-container {
  padding: 20px; /* Adds some padding around the skill badges */
  background-color: #16171b; /* Matches the dark theme of the body */
}

.badge-custom {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Center content */
  background: linear-gradient(to right, #8e44ad, #9b59b6);
  color: #ffffff;
  padding: 8px 16px; /* Increased padding for a larger clickable area */
  border-radius: 20px; /* Rounded corners */
  margin: 10px; /* Adequate spacing between badges */
  font-size: 14px; /* Clarity in text */
  font-weight: bold;
  transition: transform 0.2s;
  min-width: 120px; /* Minimum width */
  box-sizing: border-box; /* Ensures padding is included in the width */
  opacity: 0.75;
}

.badge-custom:hover {
  transform: scale(1.05);
}

/* Enhanced Close Button Styling */
.btn-close-custom {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust right position to prevent overflow */
  transform: translateY(-50%);
  background: none; /* Clear any background styling */
  width: 24px; /* Visible size */
  height: 24px; /* Maintain aspect ratio */
  color: #ffffff; /* Button color */
  font-size: 16px; /* Size of the 'X' */
  opacity: 1; /* Slight transparency */
  border: none; /* No border */
  cursor: pointer; /* Cursor as pointer */
}

.btn-close-custom:hover {
  opacity: 1; /* Full visibility on hover */
  color: #f6f2f2; /* Change color on hover for visibility */
}
