/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .active-link {
  font-weight: bold;
}

/* Apply styles to the card body on hover */
.hoverable-card-body {
  transition: transform 0.2s, box-shadow 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Change cursor to indicate interactivity */
}

.hoverable-card-body:hover {
  transform: scale(1.02); /* Slightly scale up the card on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Add a shadow on hover */
}
