/* Base styles for form elements to improve UI readability and maintainability */
.form-group {
  margin: 1.5rem 0;
  font-weight: 200;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

/* Consistent styling for all form controls */
input.form-control,
select.form-select,
textarea.form-control {
  border: 2px solid #2468ac;
  padding: 10px;
  border-radius: 30px;
  background-color: #495057;
  color: #EFEFEF; /* Light font color for readability on dark backgrounds */
  font-weight: 500;
}

/* Enhancing focus states with a subtle yellow glow and blue border */
input.form-control:focus,
select.form-select:focus,
textarea.form-control:focus {
  outline: none;
  border-color: #032b41;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

/* Ensuring clear visibility for keyboard navigation */
input.form-control:focus-visible,
select.form-select:focus-visible,
textarea.form-control:focus-visible {
  outline: 1px solid #032b41;
}

/* Customized textarea for more text input */
textarea.form-control {
  height: 400px;
}

/* Distinct styling for checkboxes */
input[type='checkbox'].form-check-input {
  border: 2px solid #255482;
  padding: 0;
}

/* Styling for interactive card elements */
.hoverable-card-body {
  transition: transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
}

.hoverable-card-body:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

/* Placeholder styles for clarity */
input.form-control::placeholder,
textarea.form-control::placeholder {
  font-weight: 200;
  color: #888;
  opacity: 1;
}

select.form-select::placeholder {
  color: #aaa;
}

/* Adjusting form control styles for autofill */
input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
textarea.form-control:-webkit-autofill,
textarea.form-control:-webkit-autofill:hover,
textarea.form-control:-webkit-autofill:focus,
select.form-select:-webkit-autofill,
select.form-select:-webkit-autofill:hover,
select.form-select:-webkit-autofill:focus {
  border-color: #2468ac;
  -webkit-text-fill-color: #EFEFEF;
  box-shadow: 0 0 0px 1000px #495057 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Responsive design adjustments */
@media (min-width: 768px) {
  .row.mb-3 .col-md-6 {
    padding: 0 0.5rem;
  }
}
