/* Navbar */
.navbar {
  background-color: #343a40; /* Dark gray */
}

.navbar-brand {
  color: #dc3545; /* Red */
}

.navbar-toggler-icon {
  color: #dc3545; /* Red */
}

.navbar-nav .nav-link {
  color: #ffffff; /* White */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #dc3545; /* Red */
}

/* Sidebar */
.nav.flex-column .nav-link {
  color: #343a40; /* Dark gray */
}

.nav.flex-column .nav-link:hover,
.nav.flex-column .nav-link.active {
  color: #dc3545; /* Red */
}

/* Sidebar Active Link Indicator */
.nav.flex-column .nav-link.active:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px; /* Indicator width */
  height: 100%;
  background-color: #dc3545; /* Red */
}
