
/* theme selector for user theme selection form */
.theme-previews {
  display: grid;
  gap: 20px;
  padding: 30px;
  justify-content: center;
  align-items: start;
}

input[type='radio']:checked + label .theme-content {
  border: 5px solid #7653c1; /* Slightly thinner border */
  box-shadow: 0 0 10px rgba(154, 102, 102, 0.5); /* Softer shadow */
  opacity: 0.6;
}

/* theme display for user dashboard */
.theme-content {
  cursor: pointer;
  border-radius: 10px;
  height: 800px;
  max-width: 600px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  overflow: hidden;
}

/* Theme editor on resume show page */
.theme-editor {
  cursor: pointer;
  border-radius: 10px;
  width: 794px; /* actual pdf dimensions */
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* IFrame spinner */
.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* styling IFrame as link with hover effect */
.overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.overlay-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

.overlay-link:active {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}

@media (max-width: 800px) {
  .theme-content {
    min-height: 400px;  /* Slightly less tall for smaller devices */
    width: 100%;   /* Adjust width for medium screens */
  }
}
