.resume-free-default {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

.resume-free-default table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Keeps columns fixed */
}

.resume-free-default .left-column, .right-column {
  vertical-align: top; /* Aligns content to the top */
  padding: 20px;
}

.resume-free-default .left-column {
  width: 35%;
  background-color: #f8f9fa;
  border-right: 2px solid #dee2e6;
}

.resume-free-default .right-column {
  width: 65%;
}

.resume-free-default h1 {
  font-size: 28px;
  color: #007bff;
}

.resume-free-default h2 {
  font-size: 22px;
  margin-top: 20px;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5px;
}

.resume-free-default h3 {
  font-size: 18px;
  color: #343a40;
}

.resume-free-default p, li {
  font-size: 14px;
  line-height: 1.5;
}

.resume-free-default ul {
  padding-left: 20px;
  list-style-type: none;
}

.resume-free-default .skill-badge {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.resume-free-default .section {
  margin-bottom: 30px; /* Adds more space between sections */
}

.resume-free-default .cover_letter, .experiences {
  color: #495057;
}

.resume-free-default h3 {
  font-size: 20px;
  color: #333;
  padding: 5px;
}

.resume-free-default h4 {
  font-size: 18px;
  color: #333;
  padding-left: 25px;
}

.resume-free-default .date-footer p {
  padding-left: 25px;
  font-size: 12px;
  margin-bottom: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #eee;
}
