.resume-free-modern {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; /* Professional and clean font */
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333; /* Darker text for better readability */
  background: #FFF;
}

.resume-free-modern h1 {
  font-size: 32px;
  font-weight: bold;
  color: #2C3E50;
  margin-top: 0;
}

.resume-free-modern h2 {
  font-size: 26px;
  color: #34495E;
  margin-top: 0;
}

.resume-free-modern h3 {
  font-size: 20px;
  font-weight: bold;
  color: #16A085;
  border-bottom: 1px solid #16A085;
}

.resume-free-modern h4 {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 1px;
}

.resume-free-modern p, .resume-free-modern li {
  font-size: 14px;
  line-height: 1.8; /* Increased line height for better readability */
  color: #333; /* Darker grey for improved text visibility */
}

.resume-free-modern a {
  color: #333;
  text-decoration: none;
}

.resume-free-modern header {
  justify-content: center; /* Centering and spacing out contact info */
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.resume-free-modern .skills-list span {
  display: inline-block; /* Displays each skill inline but as block  */
  margin-right: 5px; /* Adds space after each skill */
  font-size: 14px; /* Sets a readable font size */
  color: #34495E; /* Subtle, professional color */
}

.resume-free-modern .skills-list span:last-child:after {
  content: ""; /* Removes the comma after the last item */
}

.resume-free-modern .skills-list span:after {
  content: ","; /* Adds a comma after each skill except the last one */
}

.resume-free-modern .education-item {
  justify-content: space-between;
  width: 100%;
}

.resume-free-modern .date-footer {
  font-size: 12px;
  color: #333;
  font-style: italic;
  margin: 5px;
}

.resume-free-modern section {
  padding-top: 5px;
}

.resume-free-modern .social-links ul {
  justify-content: space-around;
  list-style-type: square;
  padding: 5px;
}

.resume-free-modern .trix-content {
  line-height: 1.5;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; /* Professional and clean font */
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
}
